@font-face {
  font-family: "iconfont"; /* Project id 2403385 */
  src: url('iconfont.woff2?t=1625327694728') format('woff2'),
       url('iconfont.woff?t=1625327694728') format('woff'),
       url('iconfont.ttf?t=1625327694728') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-expand-on:before {
  content: "\e635";
}

.icon-Other-4:before {
  content: "\e636";
}

.icon-expand-off:before {
  content: "\e637";
}

.icon-Other-8:before {
  content: "\e638";
}

.icon-q-max:before {
  content: "\e65b";
}

.icon-q-icon:before {
  content: "\e60e";
}

.icon-q-normal:before {
  content: "\e605";
}

.icon-q-min:before {
  content: "\e62d";
}

.icon-q-close:before {
  content: "\e68f";
}

